body {
	background-color: #8ab4f8;
	font-family: 'Comic Sans MS', cursive;
}
nav {
	float: left;
	width: 10%;
	padding: 5px;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}
article {
	float: left;
	padding: 20px;
	width: 90%;
}
h2 {
	padding: 5px;
	text-align: left;
	font-size: 25px;
	margin-bottom: 0;
	margin-top: 0;
	color: #ffffff;
}
footer {
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
p {
	margin-bottom: 0;
	margin-top: 0;
}