body {
	background-color: #8ab4f8;
	font-family: 'Comic Sans MS', serif;
}
nav {
	float: left;
	width: 10%;
	padding: 5px;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	text-shadow: 3px 3px 6px #444;
}

ul {
	margin: 0;
	list-style-type: none;
	text-shadow: 3px 3px 6px #444;
}


article {
	float: left;
	padding: 20px;
	width: 90%;
}
h2 {
	padding: 5px;
	text-align: left;
	font-size: 25px;
	margin-bottom: 0;
	margin-top: 0;
	color: #ffffff;
	text-shadow: 3px 3px 6px #444;
}
footer {
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
p {
	margin-bottom: 0;
	margin-top: 0;
	color:#ffffff;
	margin-left:5px;
	text-shadow: 3px 3px 6px #444;
}
a:link {
	color: #d3d9e3;
	text-decoration: none;
}
a:visited {
	color: #d3d9e3;
	text-decoration: none;
}
a:hover {
	color:#fff;
	text-decoration: underline;
}

.dropdown-container {
	cursor: pointer;
	margin-bottom: 0px;
	color: white;
	text-shadow: 3px 3px 6px #444;
}

.dropdown-content {
	display: none;
	margin-top: 0px;
	border-radius: 0px;
	color: white;
	text-shadow: 3px 3px 6px #444;
}

.dropdown-content.show {
	display: block;
}

img {
	width: 15%;
	height: auto;
	box-shadow: 3px 3px 6px #444;
}